.hero-wrapper {
  // padding: 0 76px;
  padding: 0 101px;
  // padding: 0 5%;
  margin: 144px 0 72px;
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #1a1a1f;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px;
    }

    img {
      width: 624px;
      height: 200px;
    }
  }
}
