@mixin centerContainer($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin buttonStyle() {
  border: none;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #5d37f3;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}

@mixin inputStyle() {
  height: 44px;
  border-radius: 12px;
  border: 1.5px solid #5d37f3;
  padding: 12px 0 12px 16px;
  background: #f7f7ff;
  color: $text-primary-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  outline: none;

  &.error {
    border: 1px solid $text-danger;
    background: #faf2f3;

    &:focus {
      border: 2px solid $text-danger;
    }
  }

  &:focus {
    border: 2px solid #5d37f3;
  }
}
