.heroBlogs-wrapper {
  padding: 0 76px;
  margin: 64px 0 66px;

  .heroBlogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 56px;
  }
}
